/* mediaQuery */
@media only screen and (max-width:768px){
    #header{
        background-size: cover;
        background-position: center;
        
    }
    .header-text{
        margin-top:100% ;
        font-size: 40px;
        margin-left: 0;
        margin-bottom: 0px;
        margin-top: 550px;
        text-align: center;
        letter-spacing: 2px;
    }
    .header-text h1{
        font-size: 30px;
    }
    .about-col-1{
        flex-basis: 100%;
        margin-right: 80px;
        margin-top: -90px;
    }
    .about-col-2{
        align-items: justify;
        margin-left: 30px;
        
    }
    .sub-title{
    margin-top: 40px;
    position:relative;
    right: 40px;
    
    }
    .about-col-2 p{
        margin-top: -20px;
    }
    .tab-titles p{
        font-weight: 700;
        margin-top: 10px;
    }
    .container .sutitle{
       /* position:relative;
       right: 40px; */
    }
    .tab-contents ul{
     
    }
    .tab-contents ul li{
        font-size: 20px;
       
    }
    .tab-contents ul li span{
        font-size: 22px;
        
        
    }
    .tab-contents ul{
        /* position: relative; */
        /* top: 70px; */
    }
    .contact-left{
        flex-basis: 100%;
        
    }
    .contact-right{
        flex-basis: 100%;
        margin-left: 40px;
    }
    .contact-right form .btn{
        margin-left: 90px;
    }
    .contact-right textarea::placeholder,input::placeholder{
        font-size: 15px;
    }
    .copyright{
        font-size: 10px;
        letter-spacing: 3px;
        width: 100%;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        /* display: none; */
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 8;
        transition: right 0.5s;
    }
     nav ul li{
        display: block;
        margin: 25px;
        z-index: 5;
        
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul .fas{
        position: absolute;
        top:25px ;
        left: 25px;
        cursor: pointer;
    }
    .png{
        left: 40px;
        width: 350px;
        height: 350px;
    }
    .png3{
        height: 450px;
        width: 350px;
    }
    .loder {
        background-size: 25%;
    }
}
