@media only screen and (max-width:768px) {
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100%;
        padding-top: 50px;
        z-index: 8;
        transition: right 0.5s;
    }
     nav ul li{
        display: block;
        margin: 25px;
        z-index: 5;
        
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul .fas{
        position: absolute;
        top:25px ;
        left: 25px;
        cursor: pointer;
    }
    /* img */
    .header-half{
        display: flex;
        flex-direction: column;
    }
    .header-text{
        order: 2;
        
    }
    .png{
        margin-top: 18vh;
    }
    .png .png1{
        height: 410px;
        width: 350px;
    }
    .png .png2{
    height: 320px;
    width: 360px;
    }
    .about-col-1{
        flex-basis: 100%;
        margin-right: 80px;
    }
    .sub-title{
        margin-top: 40px;
        position: relative;
        left: -40px;
    }
    .about-col-2{
        margin-left: 40px;
    }
    .contact-left{
        flex-basis: 100%;
    }
    .contact-right{
        flex-basis: 100%;
        margin-left: 40px;
    }
    
    .tab-contents ul li{
        font-size: 20px;
       
    }
    .tab-contents ul li span{
        font-size: 22px;  
        
    }
    .contact-left{
        flex-basis: 100%;
        
    }
    .contact-right{
        flex-basis: 100%;
        margin-left: 40px;
    }
    .contact-right form .btn{
        margin-left: 90px;
    }
    .contact-right textarea::placeholder,input::placeholder{
        font-size: 15px;
    }
    .copyright{
        font-size: 10px;
        letter-spacing: 3px;
        width: 100%;
    }
    
}